html, body {
    margin: 0;
    padding: 0;
    background: #dadada;
    font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
    width: 90%;
    max-width: 750px;
    margin: 10vh auto 0 auto;
}

.wrapper-heading,
.wrapper-subheading {
    text-align: center;
}

.wrapper-heading {

    text-transform: uppercase;
    color: #dd537a;
}

#text-parse-area {
    margin: 0 auto;
    width: 95%;
    height: auto;
    min-height: 6rem;
    display: block;
    resize: none;
    overflow: hidden;
    outline: none;
}

.button-submit {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #dd537a;
    border-radius: 3px;
    margin: 1em auto;
    width: 5rem;
    padding: 5px 0;
}

.button-submit:hover {
    cursor: pointer;
    background: #222325;
}

.button-submit:active {
    background: #5b99f5;
}

.post {
    background: #cacaca;
    border: 1px #b8b8b8 solid;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

.postID {
    position: absolute;
    min-height: 100%;
    padding: 5px;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    font-weight: 700;
    color: #dd537a;

}